<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1주차 과제 김동한(8기)(수정1)</title>

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!--폰트-->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
    
    
  <style>
        
        *{
            font-family: 'Nanum Gothic Coding', monospace;
        }
        
        p{
            text-align: center;
        }
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        h1{
            text-align: center;
        }

        #won{
          color: slateblue;
        }
        


    </style>

    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>


    <script>
      $.ajax({
        type: "GET",
        url: "https://api.manana.kr/exchange/rate.json",
        data: "",
        success: function (response) {
            for(let i=0; i<response.length; i++)
            {
              if(response[i]['name'] == 'USDKRW=X'){
                $('#exchange').text(response[i]['rate']);
                return
              }
            }
          
        }
      });
    </script>

    <script>
        function make_order(){
          let user = $('#user').val()
          let phone = $('#phone').val()
          let period = $('#period').val()  


          if(user=='')
          {
            alert("이름을 입력해주세요.");
              $('#user').focus();
            return;
          }
          else if(phone=='')
          {
            alert("전화번호를 입력해주세요.");
              $('#phone').focus();
            return;
          }
          else if(period=='')
          {
            alert("기간을 설정해주세요.");
              $('#period').focus();
            return;
          }
          $.ajax({
            type: "POST",
            url: "/orders",
            data: { user_give: user, phone_give: phone, period_give: period },
            success: function (response) {
              if (response['result'] == 'success') {
                alert(response['msg']);
                window.location.reload();
              }
              
            }
          });
          
        }
        //뭔말인지 모르겠당 초기화하는 부분인가?
      $(document).ready(function(){
        $('#orders_box').html('');
        listing();
      });

      function listing() {
        $.ajax({
          type: "GET",
          url: "/orders",
          data: {},
          success: function (response) {
            if (response['result'] == 'success'){
              let orders = response['orders'];
              for(let i =0; i < orders.length; i++) {
                make_card(orders[i]['user'],orders[i]['phone'],orders[i]['period'])
              }
            }
            else {
              alert('주문을 받아오지 못했습니다.');
            }
          }
        });
      }

      function make_card(user, phone, period) {
            let temp_html = `<tr>
                                <td>${user}</td>
                                <td>${phone}</td>
                                <td>${period}</td>
                            </tr>`;
            $('#orders_box').append(temp_html);
        }

    </script>
</head>

<body>
<div class="product_image">
    <p><a href="https://www.youtube.com"><img src="https://cdn.neow.in/news/images/uploaded/2020/03/1584987746_youtube_premium_story.jpg" width="30%" length="30%"  alt="picture of product"></a>
    </p></div>
<div class="presentation"></div>
   <h1>유튜브 프리미엄</h1>
   <p>광고없는 쾌적한 유튜브 시청, 유튜브 뮤직을 통한 음악 감상까지 
       이 모든 것을 유튜브 프리미엄으로 즐겨보세요.</p>
</div>

  <p>합리적인 가격 8,690원/월(VAT포함)</p>
  <p id="won">달러-원 환율: 
  <span id="exchange"></span>
  </p>

    

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">유튜브 계정</span>
        </div>
        <input type="text" class="form-control" id="user" placeholder="Username@example.com" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">전화번호</span>
        </div>
        <input type="text" class="form-control" placeholder="'-'없이 기재" id="phone" aria-describedby="basic-addon1">
      </div>
   
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">기간</label>
        </div>
        <select class="custom-select" id="period">
          <option selected value>구독기간 설정</option>
          <option value="1">1개월</option>
          <option value="3">3개월</option>
          <option value="6">6개월</option>
        </select>
      </div>
 
  <p>
  <button onclick="make_order()" type="button" class="btn btn-primary">주문하기</button>
  </p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">계정</th>
        <th scope="col">전화번호</th>
        <th scope="col">구독기간</th>
      </tr>
    </thead>
    <tbody id="orders_box">
      <tr>
        
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>

<footer>
  Copyright © DonghanKim All Rights Reserved.
</footer>
</body>
</html>